/node_modules
/public/hot
/public/images/*
/public/files/*
/public/videos/*
/public/music/*
/public/css/modules*
/public/css/addons*
/public/js/modules*
/public/js/addons*
/public/addons*
/public/font
/public/img
/public/scss
/public/src
/public/templates
/public/css/mdb*
/public/js/mdb*
/public/todos
/public/storage
/public/storage/*
/resources/views/test*
/resources/json
/storage/*.key
/tests
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
