/node_modules
/public/images/*
/public/files/*
/public/videos/*
/public/font
/public/img
/public/scss
/public/src
/public/templates
/public/css/mdb*
/public/css/custom_styles.min.css
/public/css/md-form.min.css
/public/css/style.min.css
/public/css/modules*
/public/css/addons*
/public/js/mdb*
/public/js/free
/public/js/jquery*
/public/js/modules*
/public/js/addons*
/public/addons*
/public/todos
/public/storage
/public/storage/*
/resources/addons
/resources/css
/resources/img
/resources/js
/resources/src
/resources/scss
/resources/mdb4
/storage/*.key
/tests
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.webpack.mix.js
